<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<style>
    button {
    background-color: red;
    color: yellow;
    padding: 14px 20px;
    margin: 8px ;
    border: none;
    cursor: pointer;
    width: 50%;
}
    </style>
</head>

<body>
<b><h1><center>Successfully signed up! To further continue, click on Login</center></h1></b>

    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</body>
</html>

<button type="submit" class="btn btn-default" name="Login" value="Login"></button>